%btn{                           //class
    display: inline-block;
    padding: 5px, 25px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background-color: #e74292;
}